<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <qrcode [qrdata]="QrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <ion-card-header>
      <ion-card-title>Escanear para registrar asistencia</ion-card-title>
      <ion-card-subtitle>Asignatura: {{ cursol?.nombre }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      

      <ion-list>
        <ion-list-header>
          <ion-label> Listado de Alumnos: </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let alumno of alumnosl">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <div style="flex-grow: 1;">
            <ion-label>{{ alumno.nombre }}</ion-label>
            <ion-card-subtitle>RUT: {{ alumno.rut }}</ion-card-subtitle>
          </div>
          <ion-button fill="solid" shape="round" color="secondary" >Ver asistencia </ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
