<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escanear QR</ion-title>
    </ion-toolbar>
  </ion-header>



  <!-- <div class="image-container">
    <ion-button fill="solid" size="large" shape="round" color="light" slot="fixed" class="overlay-button" id="qr-capturado">  </ion-button>
  </div> -->


  <!-- <ion-alert
  trigger="qr-capturado"
  header="QR escaneado correctamente"
  message="Excelente {{nombre}}, has registrado tu asistencia a la clase."
  [buttons]="boton" [routerLink]="['/login']"
 ></ion-alert> -->

</ion-content>


