<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ngx-scanner-qrcode #action="scanner" [constraints]="{ video: { facingMode: 'environment' } }"></ngx-scanner-qrcode>


<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Loading...</p>

<!-- start -->
<button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="qrScanned">
    <ion-fab-button (click)="registrarAsistencia()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

