<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escanear QR</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="Silhouette of mountains" src="https://static.vecteezy.com/system/resources/previews/004/974/428/original/smartphone-camera-interface-template-mobile-app-interface-black-design-layout-photo-video-recording-screen-flat-ui-for-social-media-selfie-application-phone-display-with-viewfinder-vector.jpg" />

</ion-content>
