<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil de alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">Bienvenido a tu perfil, {{nombre}}.</div>
  <h6 class="ion-padding">Escanea el código QR para registrar tu asistencia</h6>




  <div class="ion-text-center">
    <ion-button (click)="navegarACamara()" class="ion-padding" shape="round" color="dark">Escanear QR</ion-button>
  </div>





</ion-content>
