<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404</ion-title>
    </ion-toolbar>
  </ion-header>


    <div class="container">
      <div class="content">
        <!-- <h1>404</h1> -->
        <h2>Página no encontrada</h2>
        <p>La página que estás buscando no existe. Puede haber sido eliminada, su nombre cambiado, o no estar disponible temporalmente.</p>
        <ion-button shape="round" fill="outline" routerLink="/home">Volver al inicio</ion-button>
      </div>
    </div>


</ion-content>
